---
import Footer from '../layouts/Footer.astro';
---
<!DOCTYPE html>
<html lang="nb-NO">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Frilans design studio som leverer estetiske og funksjonelle løsninger. Ta kontakt om du har et prosjekt du vil snakke om."
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="var(--brand-color)" />
    <title>Attityd</title>
    <link rel="canonical" href="https://attityd.no/" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="fonts/silka-regular-webfont-subset.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="fonts/silka-semibold-webfont-subset.woff2"
      crossorigin
    />
		<link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <style is:global>
      @font-face {
        font-family: 'Silka';
        font-display: swap;
        src: url('../fonts/silka-regular-webfont-subset.woff2');
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: 'Silka';
        font-display: swap;
        src: url('../fonts/silka-semibold-webfont-subset.woff2');
        font-weight: 600;
        font-style: normal;
      }
      ::selection {
        background-color: var(--brand-color);
        color: hsla(0, 100%, 100%, 0.95);
      }

      * {
        margin: 0;
      }

      body {
        --brand-color: hsl(253.3, 44.7%, 49.6%);
        align-items: center;
        box-sizing: border-box;
        background-color: hsl(0, 100%, 100%);
        block-size: 100vh;
        color: var(--brand-color);
        display: grid;
        font-family: 'Silka', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        justify-content: center;
        margin: 0;
        overscroll-behavior-block: none;
        padding: 0.5rem;
      }

      @supports (-webkit-touch-callout: none) {
        body {
          block-size: -webkit-fill-available;
        }
      }

      main {
        display: grid;
        justify-items: center;
        margin-block-start: 1rem;
        row-gap: 2rem;
      }

      h1 {
        display: flex;
      }

      svg {
        block-size: 100%;
        inline-size: clamp(16rem, 32vmax, 24rem);
      }

      svg path {
        fill: var(--brand-color);
      }

      p {
        font-size: clamp(1.25rem, 5vw, 2.5rem);
        line-height: 1.3;
        max-inline-size: 45ch;
        padding-inline: 5vw;
        text-align: center;
      }

      a {
        align-items: center;
        color: inherit;
        display: flex;
        flex-direction: column;
        font-size: clamp(1.25rem, 4vw, 2.75rem);
        font-weight: 600;
        justify-content: center;
        position: relative;
        text-align: center;
        text-decoration: none;
      }

      a span {
        --popup-height: 2.5rem;
        --border-color: currentColor;
        --button-color: hsla(0, 100%, 100%, 0);
        align-items: center;
        background-color: var(--button-color);
        block-size: var(--popup-height);
        border: 0.125rem solid var(--border-color);
        border-radius: calc(var(--popup-height) / 2);
        display: flex;
        font-size: 1.25rem;
        font-weight: 400;
        inset-block-start: calc(var(--popup-height) * 1.5);
        line-height: 1;
        margin-block-start: 0.5rem;
        opacity: 0;
        padding: 0 1rem;
        pointer-events: none;
        position: absolute;
        transform: translateY(0.5rem) scale(1);
        transition: opacity 250ms, transform 500ms;
        visibility: var(--state);
        white-space: nowrap;
        will-change: opacity, transform;
      }

      a.is-active span {
        opacity: 1;
        transform: translateY(0) scale(1);
      }

      a:active {
        transform: scale(0.99);
      }

      a:focus {
        outline: 0;
      }

      a:focus-visible {
        text-decoration: underline;
        text-decoration-thickness: 0.125rem;
        text-underline-offset: 1rem;
      }

      @media (prefers-color-scheme: dark) {
        a span {
          --button-color: transparent;
        }
      }

      @media (prefers-reduced-motion) {
        a.is-active span {
          transition: none;
        }
      }

      .blob {
        --blend-mode: multiply;
        inline-size: clamp(18rem, 60vw, 32rem);
        inset-block-start: 50%;
        inset-inline-start: 50%;
        mix-blend-mode: var(--blend-mode);
        opacity: 0.2;
        position: fixed;
        transform: translate(-50%, -50%);
        z-index: -1;
      }

      @media (prefers-color-scheme: dark) {
        button::after {
          --button-color: transparent;
        }

        .blob {
          --blend-mode: difference;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <h1>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 465 128">
          <title>Attityd</title>
          <path
            d="M.667 98.277h24.96l4.096-13.568h30.464l4.096 13.568h26.24l-29.312-89.6H29.34L.667 98.277zm35.456-35.328l8.192-27.52h1.28l8.192 27.52H36.123zM120.348 48.74h23.424v24.577c0 15.488 9.472 24.96 25.216 24.96h15.232V78.693h-8.448c-4.992 0-7.936-2.688-7.936-6.784V48.74h16.384V30.18h-16.384V12.389h-22.784v10.88c0 4.224-2.304 7.168-6.528 7.168h-18.176V12.389H97.564v10.88c0 4.224-2.304 7.168-6.528 7.168h-4.992V48.74h10.24v24.576c0 15.488 9.472 24.96 25.216 24.96h15.232V78.693h-8.448c-4.992 0-7.936-2.688-7.936-6.784V48.74zM205.723 24.677c7.936 0 13.568-4.48 13.568-12.288 0-7.68-5.632-12.288-13.568-12.288s-13.568 4.608-13.568 12.288c0 7.808 5.632 12.288 13.568 12.288zM193.819 98.277h24.064V30.18h-24.064v68.097zM291.996 127.717h9.728c15.744 0 24.448-8.192 29.568-22.144l27.392-75.392h-25.216L322.332 67.3h-1.152l-12.416-37.12h-24.832l26.624 68.352-.384 1.024c-1.536 4.096-4.352 7.04-9.216 7.04h-8.96v21.121zM262.3 98.277h15.231V78.693h-8.448c-4.992 0-7.936-2.688-7.936-6.784V48.74h16.384V30.18h-16.384V12.389h-22.784v10.88c0 4.224-2.304 7.168-6.528 7.168h-4.992V48.74h10.24v24.576c0 15.488 9.472 24.96 25.216 24.96l.001.001zM389.02 99.94c9.727 0 14.847-4.735 16.895-8.063h1.152v6.4h23.936v-96h-24.064V36.58h-1.152c-2.432-3.584-7.936-8.064-17.152-8.064-17.92 0-29.952 14.592-29.952 36.224 0 21.632 12.288 35.2 30.336 35.2h.001zm6.143-21.76c-7.296 0-12.16-5.631-12.16-13.951s4.864-13.952 12.16-13.952 12.16 5.632 12.16 13.952-4.864 13.952-12.16 13.952v-.001zM453.02 99.94c7.552 0 12.544-4.863 12.544-12.16 0-6.911-4.992-12.16-12.544-12.16-6.912 0-12.416 5.249-12.416 12.16 0 7.297 5.504 12.16 12.416 12.16z"
          />
        </svg>
      </h1>

      <p>
        Frilans design studio som leverer estetiske og funksjonelle løsninger.
        Ta kontakt om du har et prosjekt du vil snakke om.
      </p>

      <a href="mailto:hei@attityd.no">hei@attityd.no</a>

      <svg
        aria-hidden="true"
        class="blob"
        focusable="false"
        viewBox="0 0 200 150"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M191.702 42.67c14.741 30.655 10.051 82.752-15.747 100.174-25.964 17.421-72.701.167-112.068-28.143C24.521 86.391-7.139 46.69 1.404 24.745 9.947 2.633 59.029-1.89 100.74.623c41.711 2.345 76.052 11.558 90.961 42.046z"
        />
      </svg>
    </main>

    <Footer/>

    <script type="module">
      const offset = 79
      const opacity = 0.33
      const colors = [
        `hsla(${offset * 1}, 92%, 70%, ${opacity})`,
        `hsla(${offset * 2}, 92%, 70%, ${opacity})`,
        `hsla(${offset * 3}, 92%, 70%, ${opacity})`,
        `hsla(${offset * 4}, 92%, 70%, ${opacity})`,
        `hsla(${offset * 5}, 92%, 70%, ${opacity})`,
      ]

      function setBgColor() {
        const mqDark = window.matchMedia('(prefers-color-scheme: dark)')
        const color = colors[Math.floor(Math.random() * colors.length)]

        if (mqDark.matches) {
          document.body.style.backgroundColor = 'hsl(0, 0%, 0%)'
        } else {
          document.body.style.backgroundColor = color
        }
      }

      setBgColor()

      const linkTag = document.querySelector('a')
      linkTag.style.setProperty('--state', 'hidden')

      linkTag.addEventListener('click', async (event) => {
        event.preventDefault()
        event.currentTarget.insertAdjacentHTML(
          'beforeend',
          '<span>Kopiert til utklippstavlen</span>'
        )

        if (!navigator.clipboard) {
          return
        }

        const text = event.currentTarget.innerText

        try {
          await navigator.clipboard.writeText(text)
          event.target.classList.add('is-active')
          event.target.style.setProperty('--state', 'visible')
          setTimeout(() => {
            event.target.classList.remove('is-active')
            event.target.firstElementChild.remove()
            setTimeout(() => {
              event.target.style.setProperty('--state', 'hidden')
            }, 1000)
          }, 30000)
        } catch (err) {
          console.error('Kunne ikke kopiere!', err)
        }
      })

      const blob = document.querySelector('.blob')
      let cursor = {
        x: 0,
        y: 0,
      }

      document.addEventListener('mousemove', (e) => {
        cursor.x = -e.clientX * 0.05
        cursor.y = e.clientY * 0.05

        blob.style.transform = `translate(calc(-50% + ${cursor.x}px), calc(-50% + ${cursor.y}px))`
      })
    </script>
  </body>
</html>
