---
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---
<!DOCTYPE html>
<html lang="nb-NO">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Frilans design studio som leverer estetiske og funksjonelle løsninger. Ta kontakt om du har et prosjekt du vil snakke om."
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="var(--brand-color)" />
    <title>Attityd</title>
    <link rel="canonical" href="https://attityd.no/" />
    <link
      rel="preload"
      href="fonts/silka-regular-webfont-subset.woff2"
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="fonts/silka-semibold-webfont-subset.woff2"
      as="font"
      type="font/woff2"
    />
    <link rel="stylesheet" href="styles.css">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <Header/>
    <main>
      <p>
        Frilans design studio som leverer estetiske og funksjonelle løsninger.
        Ta kontakt om du har et prosjekt du vil snakke om.
      </p>

      <a href="mailto:hei@attityd.no">hei@attityd.no</a>
    </main>

    <Footer/>

    <script type="module">
      const offset = 79
      const opacity = 0.33
      const colors = [
        `hsla(${offset * 1}, 92%, 70%, ${opacity})`,
        `hsla(${offset * 2}, 92%, 70%, ${opacity})`,
        `hsla(${offset * 3}, 92%, 70%, ${opacity})`,
        `hsla(${offset * 4}, 92%, 70%, ${opacity})`,
        `hsla(${offset * 5}, 92%, 70%, ${opacity})`,
      ]

      function setBgColor() {
        const mqDark = window.matchMedia('(prefers-color-scheme: dark)')
        const color = colors[Math.floor(Math.random() * colors.length)]

        if (mqDark.matches) {
          document.body.style.backgroundColor = 'hsl(0, 0%, 0%)'
        } else {
          document.body.style.backgroundColor = color
        }
      }

      setBgColor()

      const linkTag = document.querySelector('main a')
      linkTag.style.setProperty('--state', 'hidden')

      linkTag.addEventListener('click', async (event) => {
        event.preventDefault()
        event.currentTarget.insertAdjacentHTML(
          'beforeend',
          '<span>Kopiert til utklippstavlen</span>'
        )

        if (!navigator.clipboard) {
          return
        }

        const text = event.currentTarget.innerText

        try {
          await navigator.clipboard.writeText(text)
          event.target.classList.add('is-active')
          event.target.style.setProperty('--state', 'visible')
          setTimeout(() => {
            event.target.classList.remove('is-active')
            event.target.firstElementChild.remove()
            setTimeout(() => {
              event.target.style.setProperty('--state', 'hidden')
            }, 1000)
          }, 3000)
        } catch (err) {
          console.error('Kunne ikke kopiere!', err)
        }
      })
    </script>
  </body>
</html>
